docs/n8n-workflow.json
{
    "name": "DISC AI Analyzer",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "disc-analysis",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "replace-with-your-id"
        },
        {
            "parameters": {
                "model": "gpt-4-turbo",
                "prompt": "=Analyze the following DISC assessment:\nName: {{$json.body.name}}\nScores: {{$json.body.scores}}\nAnswers: {{$json.body.answers}}\n\nProvide the dominant archetype, communication style, strengths, and weaknesses in Markdown format.",
                "options": {}
            },
            "name": "OpenAI",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"ai_analysis\": {{$json.message.content}},\n  \"status\": \"success\"\n}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "OpenAI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {}
}